/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}

.img-dark-filter{
    filter: brightness(50%);
}
/* .carousel-caption h1{
    
    font-size: 50px;
    padding-bottom: 10px;
} */
/* .carousel-caption p{
    
    padding-bottom: 10px;
} */

.text{
    font-size: 10px;
    
}
.accordion-button{
    font-size: .75rem;
}
.accordion-body > p{
    font-size: .60rem;
}

.bg-dark{
    height: 30vh;
}
.course-img{
    width: 80vw;
    height: 70vh;
}














@media only screen and (min-width: 576px) and (max-width: 768px) {
    .course-img{
        width: 72vw;
    }
   
    }

